<!DOCTYPE html>
<html>
<head>
  <title>Productos en Tiempo Real</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul id="product-list">
    {{#each products}}
      <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
      </li>
    {{/each}}
  </ul>
  <form id="new-product-form">
    <input type="text" id="title" placeholder="Título" required>
    <input type="text" id="description" placeholder="Descripción" required>
    <input type="text" id="code" placeholder="Código" required>
    <input type="number" id="price" placeholder="Precio" required>
    <input type="number" id="stock" placeholder="Stock" required>
    <input type="text" id="category" placeholder="Categoría" required>
    <button type="submit">Agregar Producto</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('updateProducts', (products) => {
      const productList = document.getElementById('product-list');
      productList.innerHTML = '';
      products.forEach(product => {
        const productItem = document.createElement('li');
        productItem.innerHTML = `
          <h2>${product.title}</h2>
          <p>${product.description}</p>
          <p>Precio: $${product.price}</p>
          <p>Categoría: ${product.category}</p>
        `;
        productList.appendChild(productItem);
      });
    });

    const newProductForm = document.getElementById('new-product-form');
    newProductForm.addEventListener('submit', (e) => {
      e.preventDefault();

      const newProduct = {
        title: document.getElementById('title').value,
        description: document.getElementById('description').value,
        code: document.getElementById('code').value,
        price: document.getElementById('price').value,
        stock: document.getElementById('stock').value,
        category: document.getElementById('category').value
      };

      socket.emit('newProduct', newProduct);
    });
  </script>
</body>
</html>
