<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real-Time Products</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('connect', () => {
      console.log('Conectado al servidor de sockets');
    });

    socket.on('productList', (products) => {
      updateProductList(products);
    });

    function updateProductList(products) {
      const productList = document.getElementById('product-list');
      productList.innerHTML = '';

      products.forEach(product => {
        const item = document.createElement('li');
        item.textContent = `${product.title} - ${product.price}`;
        productList.appendChild(item);
      });
    }
  </script>
</head>
<body>
  <h1>Listado de Productos en Tiempo Real</h1>
  <ul id="product-list">
    {{#each products}}
      <li>{{this.title}} - {{this.price}}</li>
    {{/each}}
  </ul>
</body>
</html>
